/*Fuente*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*Estilos del cuerpo*/
body {
  font-family: 'Raleway', sans-serif; /*tipo de letra*/
  margin: 0 auto; 
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

/* Estilos de los links*/
link{
	font-weight: 700px;
	padding: 21px;
	display: inline-block;
}
 /*Eliando el subrayado de los links*/
a{
	text-decoration: none;
}

/*Estilo del logo*/
.logo{
	float: fixed;
}

/*Estilos del encabezado*/
header{
	position: fixed;
	background: white;
	width: 100%;
	top: 0;
}
 /*encabezado estilo*/
.menu{
	padding: 14px 70px;
	overflow: auto;
	font-size: 17px;
	font-weight: bolder;
}

.menu a{
	margin: 0px 25px;

}

/*Estilos del slider*/
#home {
	background-image: url(../img/bg-home.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: conver;
	height: 490px;
	text-align: center;
	margin-top: 80px;
}

.container {
	color: white;
	padding: 30px;
}

.text-home {
	font-size: 53px;
}

/*Estilo del boton View Services*/
.btn-home{
	background: #2ECC71;
	color: #fff;
	padding: 11px 20px;
	border-radius: 1px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 63px;
	display: inline-block;
	font-size: 14px;
}

/*Estilos de Servicios*/
#services {
	background-color: #F17C72; /*Color de fondo*/
	text-align: center; /*Alineación al centro*/
	color: #fff; /**/
	padding: 70px 7px;
}

.box-services {
	display: inline-block;
	width: 30%;
	margin-top: 63px;
}


h5{
	font-size: 16px;
}

h6{
	font-size: 13px;
	margin: 15px;
}
/*Estilos del footer*/
footer {
	text-align: center;
	height: 70px;
	background: #373B47;
	color: white;
	padding-top: 7px;
}